@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.page1 img, .page2 img, .page3 img{
    width:100px;
}

.page1 {
    margin: 8rem 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}   

.header1 p{
    font-size: 2rem;
    font-weight: 700;
}

.header1 span{
    color: #004AAD;
}

.isi1{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding-left: 2rem;
}

.img1,.img2 {
    width:50%;
    height: 24rem;
}

.img1 img,.img2 img{
    object-fit: contain;
    object-position: top;
    width: 100%;
    height: 100%;
}

.page2 {
    margin: 8rem 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}   

.header2 p{
    font-size: 2rem;
    font-weight: 700;
}

.header2 span{
    color: #004AAD;
}

.isi2{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding-right: 2rem;
}

.img2 {
    width:50%;
    height: 24rem;
}

.img2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text1, .text2{
    max-width: 50%;
}

.text1 h1 {
    font-weight: 400;
}

.text1 #h1, .text2 #h1{
    font-style: italic;
}

.text1 p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 300;
}

.text1 span, .text2 span{
    font-weight: 600;
    color: #004AAD;
}

.text2 h1{
    font-weight: 400;
    text-align: right;
}

.text2 p{
    font-size: 1.5rem;
    text-align: right;
    font-weight: 300;
}

/* center content */

.header3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0vh 5vh 0vh;
}   

.header3 a, .header1 a{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2vh;
    color:black;
    transition: 0.2s all ease-in 0s;
}

.header3 a:hover, .header1 a:hover{
    color: #004AAD;
}

.header3 a span, .header1 a span{
    text-decoration: underline;
    color:#004AAD;
    transition: 0.2s all ease-in 0s;
}

.header3 a span:hover, .header1 a span:hover{
    text-decoration: underline;
    color:black;
}

.img3 img{
    width: 350px;
}

.isi3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.text3 {
    margin-top:5vh;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    width: 70vh;
}

.text3 span{
    color:#004AAD;
    font-style: italic;
    font-weight: 600;
}

/* Responsive adjustments */
@media (max-width: 800px){
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header1 img, .header2 img, .header3 img{
        width:5rem;
    }

    .page1 {
        margin: 4rem 0;
        gap: 1rem;
    }
    
    .header1{
        gap: 0.2rem;
    }   
    
    .header1 p{
        font-size: 2rem;
    }

    .isi1{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        gap: 0rem;
        padding-left: 0rem;
    }
    
    .img1,.img2 {
        width:80%;
        margin-bottom: -10rem;
    }

    .text1, .text2{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .text1 h1 {
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .text1 #h1, .text2 #h1{
        font-style: italic;
    }
    
    .text1 p {
        font-size: 1rem;
        text-align: center;
        font-weight: 300;
        width: 25rem;
        margin-left: -6rem;
    }
    
    .text1 span, .text2 span{
        font-weight: 600;
        color: #004AAD;
    }
    
    .img1 img,.img2 img{
        object-fit: contain;
        object-position: top;
        width: 100%;
        height: 100%;
    }
    
    .page2 {
        margin: 8rem 4rem 0 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    
    .header2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }   
    
    .header2 p{
        font-size: 2rem;
        font-weight: 700;
    }
    
    .header2 span{
        color: #004AAD;
    }
   
}