footer {
    margin: 0;
    padding: 2rem 4rem 2rem 4rem;
    background-color: white;
    color: rgb(18, 18, 18);
}

footer .copy {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

footer h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

footer p, a {
    font-size: 0.8rem;
    font-weight: 300;
}

.content {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .profile {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.content .profile .text {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content .profile .text p {
    margin-top: 0.3rem;
}

.content .profile img {
    object-fit: contain;
    max-width: 8.5rem;
    height: auto;
    border-radius: 0.5rem;
}

.content .profile h1{
    font-weight: 700;
    font-size: 1.8rem;
}

.content .contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.content .nav a {
    text-decoration: none;
    color: rgb(18, 18, 18);
}

.content .nav a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    footer {
        width: 100%;
        padding: 6vw;
    }
    footer .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 5vh;
        p {
            font-size: 1.8vh;
        }
        a {
            font-size: 1.8vh;
        }
    }

    footer .profile {
        display: flex;
        flex-direction: column;
    }

    footer .profile .text {
        display: flex;
        h1 {
            font-size: 3vh
        }
    }

    footer .copy {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        font-size: 1.8vh;
    }
}