@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added box-sizing for better layout control */
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}   

.logo {
    order: 1;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: 80px; /* Adjusted height for better visibility */
    padding: 1.6rem 5rem 0 5rem; /* Added padding for spacing */
}

nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Adjust the last value for background opacity */
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    z-index: -1; /* Place the pseudo-element behind the actual content */
}

nav ul {
    display: flex;
    order: 2;
    list-style: none;
}

nav ul a {
    color: #FFF;
    font-size: 1rem; /* Adjusted font size */
    font-weight: 300;
    line-height: normal;
    margin-left: 2rem;
    text-decoration: none;
}

nav ul a span{
    font-weight: 600;
}

nav ul a:hover {
    color: #FFF;
    font-size: 1rem; /* Adjusted font size */
    font-weight: 300;
    line-height: normal;
    margin-left: 2rem;
    text-decoration: underline;
}

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.motto {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
}

.motto p {
    color: #ffffff;
    text-align: left;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.motto h1 {
    color: #27A4D8;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.motto span {
    color: #004AAD;
}

.motto .scroll {
    color: #D9D9D9;
    margin-top: 12rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.vision {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.vision-title {
    margin: 6rem 10rem 0 10rem;
    font-size: 1.3rem;
}

.vision-title span {
    color: #004AAD;
}

.vision-motto {
    margin-top: 6rem;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-motto img {
    position: absolute;
    width: 100%;
    height: 72px;
    object-fit: cover;
    filter: brightness(82%);
}

.vision-motto p {
    z-index: 1;
    color: white;
    font-weight: 200;
    font-size: 1.1rem;
    position: relative;
    text-align: center;
}

.vision-motto span {
    font-weight: 600;
}

.vision-achieve {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.vision-achieve .top {
    display: flex;
    margin: 6rem 10rem 0 10rem;
    gap: 2rem;
}

.vision-achieve .top .big{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.vision-achieve .top .med{
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 35%;
}

.vision-achieve .top .med span{
    font-weight: 600;
    color: #004AAD;
}

.vision-achieve .bottom {
    margin: 0.8rem 10rem 0 10rem;
}

.vision-goal {
    display: flex;
    margin: 6rem 10rem 0 10rem;
}

.vision-goal .big span {
    color: #004AAD;
}

.vision-goal .content {
    margin: 0 10rem 0 0.9rem;
    max-width: 60%;
    display: flex;
    align-items: center;
}

.achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievements .title {
    text-align: center;
    margin-top: 10rem;
    font-size: 1.3rem;
}

.achievements .title span {
    color: #004AAD;
}

.achievements .content {
    margin: 4rem 6rem 0 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.achievements .content span{
    color: #004AAD;
    font-weight: 700;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {

}
