@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Responsive adjustments */

.page1 img, .page2 img, .page3 img{
    width:100px;
}

.header1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:20vh 0vh 15vh 0vh;
}   

.header1 p{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2vh;
}

.header1 span{
    color: #004AAD;
}

.isi1{
    display: flex;
    justify-content: space-between;
}

.img1 img{
    width: 400px;
    margin-left:25vh;
}

.text1{
    width: 100vh;
    margin-right:15vh;
    margin-top: -1vh;
}

.text1 h1{
    font-weight: 400;
}

.text1 #h1{
    font-style: italic;
}

.text1 p{
    font-size: 1.5rem;
    text-align: left;
    font-weight: 300;
}

.text1 span{
    font-weight: 600;
    color: #004AAD;
}

/* right content */

.isi2{
    display: flex;
    justify-content: space-between;
}

.img2 img{
    width: 400px;
    margin-right:22vh;
}

.text2{
    width: 100vh;
    margin-left:17vh;
    margin-top: 1vh;
}

.text2 h1{
    font-weight: 400;
    text-align: right;
}

.text2 #h1{
    font-style: italic;
}

.text2 p{
    font-size: 1.5rem;
    text-align: right;
    font-weight: 300;
}

.text2 span{
    font-weight: 600;
    color: #004AAD;
}

.text2 #h2{
    margin-top:12vh;
}

.text2 #p2{
    width: 60vh;
    margin-left: 10rem;
}

.img2 #img2{
    margin-right:13.2rem;
    margin-left: 1.8rem;
}

.text1 #p1{
    width: 95vh;
    margin-top:4.5vh;
}

.text1 #p2{
    width: 90vh;
}

/* center content */

.header3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:20vh 0vh 5vh 0vh;
}   

.header3 a, .header1 a{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2vh;
    color:black;
}

.header3 a span, .header1 a span{
    text-decoration: underline;
    color:#004AAD
}

.img3 img{
    width: 350px;
}

.isi3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.text3 {
    margin-top:5vh;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    width: 70vh;
}

.text3 span{
    color:#004AAD;
    font-style: italic;
    font-weight: 600;
}

