@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }

    nav ul {
        margin-top: 10px;
    }

    nav ul a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}



.page1 img{
    width:100px;
}

.header1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:20vh 0vh 15vh 0vh;

}   

.header1 p{
    font-size: 2rem;
    font-weight: 700;
}

.header1 span{
    color: #004AAD;
}

.isi1{
    width: 100vh;
    margin-left:97vh;
}

.isi1 h1{
    font-weight: 400;
}

.isi1 #h1{
    font-style: italic;
}

.isi1 p{
    font-size: 1.5rem;
    text-align: left;
    font-weight: 300;
}

.isi1 span{
    font-weight: 600;
    color: #004AAD;
}



