 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,700&family=Oswald:wght@300;400&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,600;1,700;1,800&family=Silkscreen&display=swap'); 

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    height: 500vh;
    background:linear-gradient(to bottom,#0373BA, #000D15);
    overflow-x: hidden;
    font-family: 'poppins';
}

.logo {
    order: 1;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: 80px; /* Adjusted height for better visibility */
    padding: 1.6rem 5rem 0 5rem; /* Added padding for spacing */
}

nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Adjust the last value for background opacity */
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    z-index: -1; /* Place the pseudo-element behind the actual content */
}

nav ul {
    display: flex;
    order: 2;
    list-style: none;
}

nav ul a {
    color: #FFF;
    font-size: 1rem; /* Adjusted font size */
    font-weight: 300;
    line-height: normal;
    margin-left: 2rem;
    text-decoration: none;
}

nav ul a span{
    font-weight: 600;
}

nav ul a:hover {
    color: #FFF;
    font-size: 1rem; /* Adjusted font size */
    font-weight: 300;
    line-height: normal;
    margin-left: 2rem;
    text-decoration: underline;
}

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(5px); */
}

.motto {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
}

.motto p {
    color: #ffffff;
    text-align: left;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.motto h1 {
    color: #27A4D8;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.motto span {
    color: #004AAD;
}

.motto .scroll {
    color: #D9D9D9;
    margin-top: 12rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }

    nav ul {
        margin-top: 10px;
    }

    nav ul a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

h1{
    text-align: center;
    margin:20px 0px 80px 0px;
    color: white;
    font-size: 6.5rem;
}

#italic{
    text-align: center;
    margin:20px 0px 20px 0px;
    color: #27A4D8;
}

.container-box{
    background: white;
    transform: rotate(-4deg);
    margin:0px -30px 0px -20px;
}

.biggest-box{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100;
    font-size:3.2rem;
}

.biggest-box span{
    font-weight: 700;
}

.biggest-box p{ 
    background-image: linear-gradient(#0373BA, #000D15);
    background-clip: text;
    color: transparent;
}

.years #ten{
    font-style: italic;
    font-weight: 800;
    font-size: 13rem;
    color: white;
    transform: rotate(-4deg);
    margin: 90px 110px;
}

.years #text1{
    font-size: 3rem;
    color: white;
    text-align: left;
    position: absolute;
    top: 178vh;
    left: 79vh;
    transform: rotate(-2deg);
}

.years #span1{
    font-style: italic;
    font-weight: 800;
    color: #27A4D8;
}

.years #span2{
    font-weight: 600;
}

.global h2{
    font-weight: 700;
    font-size: 3.5rem;
    color:white;
    text-align: right;
    margin-right: 70px;
}

.global #span1{
    color: #27A4D8;
    font-style: italic;
}

.global p{
    font-size: 3rem;
    color:white;
    text-align: right;
    width: 65vw;
    margin-left:29%;
}

.invest h2{
    font-style: italic;
    font-weight: 700;
    font-size: 3.5rem;
    color:white;
    text-align: left;
    margin: 90px 0px 0px 110px;
}  

.invest p{
    font-size: 2rem;
    color:white;
    text-align: left;
    width: 70vw;
    margin-left:8.5%;
    margin-bottom: 90px;
}

.invest span{
    font-style: italic;
    font-weight:700;
    color: #27A4D8;
}

.icon1{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    justify-content: center;
    width: 100vw;
}

.icon1 #icon01{
    width: 100px;
}

.icon1 #icon02{
    width: 125px;
}

.icon1 .icon01{
    font-size:1.5rem;
    font-weight:700;
    text-align:center;
    color: white;
    width:50vh;
}

.icon1 .icon02{
    font-size:1.5rem;
    font-weight:700;
    text-align:center;
    color: white;
    width: 60vh;
    margin:0px 15vh 0px 15vh;
}

.icon1 .icon03{
    font-size:1.5rem;
    font-weight:700;
    text-align:center;
    color: white;
    width: 50vh;
}

.icon2{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100vw;
}

.icon2 #icon01{
    width: 120px;
    margin-right:4vh;
    margin-top:25vh;
}

.icon2 .icon01{
    font-size:1.5rem;
    font-weight:700;
    text-align:center;
    color: white;
    width:40vh;
    margin-right: 100px;
}

.icon2 .icon02{
    font-size:1.5rem;
    font-weight:700;
    text-align:center;
    color: white;
    width:30vh;
    margin-left:-30vw;
}

.know{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.know p{
    margin-top: 100px;
    color:white;
    font-size: 2rem;
}

#get{
    margin-top:40px;
    background: #0E2B3D;
    backdrop-filter: blur(100px);
    border: 1px solid white;
    padding: 5px;
    border-radius: 30px;
    color: white;
    padding:10px 50px;
    text-decoration: none;
}
