@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.vision {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.vision-title {
    margin: 6rem 10rem 0 10rem;
    font-size: 1.3rem;
}

.vision-title span {
    color: #004AAD;
}

.vision-motto {
    margin-top: 6rem;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-motto img {
    position: absolute;
    width: 100%;
    height: 72px;
    object-fit: cover;
    filter: brightness(82%);
}

.vision-motto p {
    z-index: 1;
    color: white;
    font-weight: 200;
    font-size: 1.1rem;
    position: relative;
    text-align: center;
}

.vision-motto span {
    font-weight: 600;
}

.vision-achieve {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.vision-achieve .top {
    display: flex;
    margin: 6rem 10rem 0 10rem;
    gap: 2rem;
}

.vision-achieve .top .big{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.vision-achieve .top .med{
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 35%;
}

.vision-achieve .top .med span{
    font-weight: 600;
    color: #004AAD;
}

.vision-achieve .bottom {
    margin: 0.8rem 10rem 0 10rem;
}

.vision-goal {
    display: flex;
    margin: 6rem 10rem 0 10rem;
}

.vision-goal .big span {
    color: #004AAD;
}

.vision-goal .content {
    margin: 0 10rem 0 0.9rem;
    max-width: 60%;
    display: flex;
    align-items: center;
}

.achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievements .title {
    text-align: center;
    margin-top: 10rem;
    font-size: 1.3rem;
}

.achievements .title span {
    color: #004AAD;
}

.achievements .content {
    margin: 4rem 6rem 0 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.achievements .content span{
    color: #004AAD;
    font-weight: 700;
}

.core-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.core-values .title {
    margin: 8rem 0 0 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.core-values .title span {
    color: #004AAD;
}

.core-values .box{
    display: flex;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
    width: 54rem;
    gap: 4rem;
    margin: 3rem 4rem 4rem 4rem;
    background-color: #004AAD;
    border-radius: 2rem;
}

.core-values .box .top {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.core-values .box .bottom {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.core-values .box .top .ethical, .employee-development, .demanding,  .proactive, .respectful {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    background-color: rgb(203, 203, 203);
    color: black;
}

.core-values:hover .box:hover .top:hover .ethical:hover, .employee-development:hover, .demanding:hover {
    transition: 300ms;
    font-weight: 700;
    background-color: white;
    color: #004AAD;
    cursor: pointer;
}

.core-values:hover .box:hover .bottom:hover .proactive:hover, .respectful:hover {
    background-color: white;
    color: #004AAD;
    cursor: pointer;
}

.proactive:hover p, .respectful:hover p {
    transition: 300ms;
    font-weight: 700;
}

.core-values .box .top, .bottom p {
    font-size: 1.2rem;
    font-weight: 400;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    height: 20rem;
    background-color: #004AAD;
    color: white;
    border-radius: 1.6rem;
    border: none;
}

dialog::backdrop {
    background-color: black;
    opacity: 72%;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    margin: 4rem 4rem 4rem 4rem;
}

.modal-wrapper .btn {
    display: flex;
    justify-content: end;
}

.modal-wrapper .btn button {
    width: 2rem;
    height: 2rem;
    background: none;
    color: white;
    border: none;
    font-size: 1.6rem;
}

.modal-wrapper .btn button:focus {
    outline: none;
}

.modal-wrapper .btn button:hover {
    transition: 300ms;
    border-radius: 0.3rem;
    background-color: white;
    color: #004AAD;
    cursor: pointer;
}

.modal-title {
    display: flex;
    margin-top: 1rem;
    justify-content: start;
}

.modal-wrapper .content {
    margin-top: 1rem;
}
/* Responsive adjustments */
