@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@media (min-width: 769px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* Added box-sizing for better layout control */
    }
    
    body, html {
        transition: 300ms;
        scroll-behavior: smooth;
        width: 100%;
        height: 100%;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }   
    
    .logo {
        order: 1;
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: normal;
    }
    
    nav {
        display: flex;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        align-items: center;
        height: 80px; /* Adjusted height for better visibility */
        padding: 0rem 5rem 0 5rem; /* Added padding for spacing */
    }
    
    nav::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0); /* Adjust the last value for background opacity */
        backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
        filter: brightness(80%);
        z-index: -1; /* Place the pseudo-element behind the actual content */
    }
    
    nav .profile {
        display: flex;
        gap: 1rem;
    }
    
    nav .profile img {
        object-fit: contain;
        max-width: 3.2rem;
    }
    
    nav ul {
        display: flex;
        order: 2;
        list-style: none;
    }
    
    nav ul a {
        color: #FFF;
        font-size: 1rem; /* Adjusted font size */
        font-weight: 300;
        line-height: normal;
        margin-left: 2rem;
        text-decoration: none;
        transition: 300ms;
    }
    
    nav ul a:hover {
        background-color: white;
        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
        border-radius: 0.2rem;
        opacity: 70%;
        transition: 150ms;
        font-weight: 500;
        color: black;
    }
    
    nav ul a.active {
        font-weight: 600;
    }
    
    nav ul a.active:hover {
        font-weight: 600;
        color: #004AAD;
    }
    
    .hero {
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }
    
    .motto {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFF;
    }
    
    .motto p {
        color: #ffffff;
        text-align: left;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .motto h1 {
        color: #27A4D8;
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .motto span {
        color: #004AAD;
    }
    
    .motto .scroll {
        margin-top: 12rem;
        text-align: center;
        line-height: normal;
    }
    
    .motto .scroll a {
        text-decoration: none;
        color: #D9D9D9;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        transition: 300ms;
    }
    
    .motto .scroll a:hover {
        background-color: black;
        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
        border-radius: 0.2rem;
        opacity: 70%;
        transition: 150ms;
        font-weight: 600;
        color: white;
    }
    
    a.nav-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    a.nav-button .bar {
        color: white;
        width: 100%;
        height: 10%;
    }

    .blocker {
        display: none;
    }
}

/* responsive adjustments */

@media (max-width: 768px) {
    html {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Poppins', sans-serif;
    }   

    .blocker {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: fixed;
        background-color: #d9d9d9;
        color: #004AAD;
        width: 100%;
        height: 100%;
    }

    .blocker h1 {
        width: 100%;
        text-align: center;
        font-size: 9rem;
    }

    .blocker p {
        margin: 6rem 16rem 0 16rem;
        font-size: 2.6rem;
    }

    .blocker p.warning {
        font-size: 2rem;
        margin: 1rem 16rem 0 16rem;
        color: red;
    }

    #text1 {
        display: none;
    }

    .vision-motto img {
        display: none;
    }

    .vision-motto p {
        display: none;
    }

    .container-box {
        display: none;
    }

    p#ten {
        display: none;
    }

    a#get {
        display: none;
    }
}