footer {
    margin: 4rem 0 0 0;
    padding: 2rem 4rem 2rem 4rem;
    background-color: #a8a8a8;
    color: white;
}

footer .copy {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

footer h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

footer p, a {
    font-size: 0.8rem;
    font-weight: 300;
}

.content {
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .profile {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.content .profile .text {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.content .profile .text p {
    margin-top: 0.7rem;
}

.content .profile img {
    object-fit: contain;
    max-width: 8.5rem;
    height: auto;
}

.content .profile h1{
    font-weight: 700;
    font-size: 1.8rem;
}

.content .contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.content .nav a {
    text-decoration: none;
    color: white;
}

.content .nav a:hover {
    text-decoration: underline;
}